html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Muli", sans-serif;
  background-color: #fefeff;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #071e57;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.header {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header_logo {
  cursor: pointer;
}
.header_list {
  width: 50%;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header_list-item {
  position: relative;
  transition: all 0.5s;
}
.header_list-item:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #05df05;
  left: 45%;
  top: -70%;
  transform: translateX(-50%);
}
.header_list-item:hover a {
  color: #4a83fb;
}
.header_list-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header_list-home i {
  font-size: 1rem;
}
.header_list-cart {
  position: relative;
}
.header_list-cart span {
  content: "2";
  position: absolute;
  background-color: #2ed47d;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  top: -80%;
  right: -1rem;
  text-align: center;
  color: whitesmoke;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header_download {
  background-color: #4a83fb;
  color: whitesmoke;
  border-radius: 0.3rem;
  border: 0;
  padding: 1.1rem 2.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.header_download:hover {
  background-color: rgba(74, 131, 251, 0.8);
  color: #071e57;
  font-weight: 300;
}

.banner {
  background-image: url(../img/background.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: repeat-x;
  padding: 15rem 0 5rem;
}
.banner .strong_text {
  color: #4a83fb;
}
.banner_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
}
.banner_left {
  width: 60%;
}
.banner_left-title {
  font-size: 5rem;
  margin: 1rem 0;
  line-height: 8rem;
}
.banner_left-desc {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.banner_left-button {
  padding: 6rem 0;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 63%;
}
.banner_left-button img {
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  cursor: pointer;
}
.banner_scroll {
  text-align: center;
  color: #4a83fb;
  cursor: pointer;
  font-size: 1.4rem;
  margin-top: 7rem;
}

.slide {
  margin-top: 10rem;
  background: #fefefe;
  background: linear-gradient(180deg, #fefefe 0%, #f4f4f4 100%);
}
.slide_main {
  width: 80.6%;
  margin-left: auto;
}
.slide_info {
  color: #4a83fb;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.slide_title {
  margin: 4rem 0;
  font-size: 5rem;
  color: #071e57;
}
.slide_desc {
  margin-bottom: 8rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.slide_desc-content {
  color: #748494;
}
.slide_desc-action {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.slide_desc-action i {
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.slide_desc-action i::before {
  align-items: center;
  font-size: 1.4rem;
}
.slide_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.slide_list-item {
  background-color: #ffffff;
  box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.3);
  padding: 3rem;
  border-radius: 0.8rem;
  width: calc(25% - 10rem);
}
.slide_list-item:nth-child(1) {
  color: #4a83fb;
}
.slide_list-item:nth-child(2) {
  color: #edb95f;
}
.slide_list-item:nth-child(3) {
  color: #45d2a7;
}
.slide_list-item:nth-child(4) {
  color: #d6bef4;
}
.slide_list-item:last-child {
  opacity: 0.4;
}
.slide_list-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
}
.slide_list-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  font-size: 2.3rem;
}
.slide_list-icon i::after {
  content: "";
  background-color: currentColor;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  opacity: 0.3;
  position: absolute;
}
.slide_list-title {
  font-size: 3rem;
  color: #071e57;
  padding: 4rem 0;
  font-weight: 600;
}
.slide_list-desc {
  font-size: 1.8rem;
  color: gray;
}
.slide_list-learn {
  display: block;
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-size: 1.4rem;
}

/*# sourceMappingURL=style.css.map */
