html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Muli", sans-serif;
  background-color: #fefeff;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #071e57;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.btn {
  color: whitesmoke;
  border-radius: 0.5rem;
  border: solid 1px;
  padding: 1.1rem 2.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-blue {
  background-color: #4a83fb;
}
.btn-blue:hover {
  background-color: transparent;
  color: #4a83fb;
  font-weight: 400;
}

.btn-green {
  background-color: #2ed47d;
}
.btn-green:hover {
  background-color: transparent;
  color: #2ed47d;
  font-weight: 400;
}

.header {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header_logo {
  cursor: pointer;
}
.header_list {
  width: 50%;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header_list-item {
  position: relative;
  transition: all 0.5s;
}
.header_list-item:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #05df05;
  left: 45%;
  top: -70%;
  transform: translateX(-50%);
}
.header_list-item:hover a {
  color: #4a83fb;
}
.header_list-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header_list-home i {
  font-size: 1rem;
}
.header_list-cart {
  position: relative;
}
.header_list-cart span {
  position: absolute;
  background-color: #2ed47d;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  top: -80%;
  right: -1rem;
  text-align: center;
  color: whitesmoke;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header_download {
  background-color: #4a83fb;
  color: whitesmoke;
  border-radius: 0.3rem;
  border: 0;
  padding: 1.1rem 2.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.header_download:hover {
  background-color: rgba(74, 131, 251, 0.8);
  color: #071e57;
  font-weight: 300;
}

.banner {
  background-image: url(../img/background.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: repeat-x;
  padding: 15rem 0 5rem;
}
.banner .strong_text {
  color: #4a83fb;
}
.banner_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
}
.banner_left {
  width: 60%;
}
.banner_left-title {
  font-size: 5rem;
  margin: 1rem 0;
  line-height: 8rem;
  font-family: "Gilroy-Medium";
  font-weight: bold;
}
.banner_left-desc {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.banner_left-button {
  padding: 6rem 0;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 63%;
}
.banner_left-button img {
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  cursor: pointer;
}
.banner_scroll {
  text-align: center;
  color: #4a83fb;
  cursor: pointer;
  font-size: 1.4rem;
  margin-top: 7rem;
}

.slide {
  padding: 10rem 0;
  background: #fefefe;
  background: linear-gradient(180deg, #fefefe 0%, #f4f4f4 100%);
}
.slide_main {
  width: 80.6%;
  margin-left: auto;
}
.slide_info {
  color: #4a83fb;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.slide_title {
  margin: 4rem 0;
  font-size: 5rem;
  color: #071e57;
  font-family: "Gilroy-Medium";
}
.slide_desc {
  margin-bottom: 8rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.slide_desc-content {
  color: #748494;
}
.slide_desc-action {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.slide_desc-action i {
  background-color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  box-shadow: 2px 3px 8px rgba(187, 187, 187, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.slide_desc-action i::before {
  align-items: center;
  font-size: 1rem;
}
.slide_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.slide_list-item {
  background-color: #ffffff;
  box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.3);
  padding: 3rem;
  border-radius: 0.8rem;
  width: calc(25% - 10rem);
}
.slide_list-item:nth-child(1) {
  color: #4a83fb;
}
.slide_list-item:nth-child(2) {
  color: #edb95f;
}
.slide_list-item:nth-child(3) {
  color: #45d2a7;
}
.slide_list-item:nth-child(4) {
  color: #d6bef4;
}
.slide_list-item:last-child {
  opacity: 0.4;
}
.slide_list-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
}
.slide_list-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  font-size: 2.3rem;
}
.slide_list-icon i::after {
  content: "";
  background-color: currentColor;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  opacity: 0.3;
  position: absolute;
}
.slide_list-title {
  font-size: 3rem;
  color: #071e57;
  padding: 4rem 0;
  font-weight: 600;
  font-family: "Gilroy-Medium";
}
.slide_list-desc {
  font-size: 1.8rem;
  color: #748494;
}
.slide_list-learn {
  display: block;
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-size: 1.4rem;
}

.started {
  background-image: url(../img/background3.png);
  background-position: center;
  background-size: cover;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.started_main {
  text-align: center;
  padding-top: 5rem;
}
.started_title {
  font-size: 5rem;
  font-weight: bold;
  margin: 4rem 0;
  color: #071e57;
}
.started_desc {
  font-size: 1.7rem;
  color: #748494;
  margin-bottom: 7rem;
  line-height: 3.5rem;
}
.started button {
  margin-top: 2.5rem;
  outline: none;
}

.iphone_item {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.iphone_item-left {
  width: calc(50% - 3rem);
}
.iphone_item-right {
  width: calc(50% - 3rem);
}
.iphone_item:nth-child(2) {
  justify-content: center;
  font-size: 3.2rem;
}
.iphone_item:nth-child(3) .iphone_item-left {
  order: 2;
  position: relative;
}
.iphone_item:nth-child(3) .iphone_item-left i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  background-color: #fff;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  color: #4a83fb;
}
.iphone_item:nth-child(3) .iphone_item-right {
  order: 1;
}
.iphone_item .card {
  margin-top: 3rem;
}
.iphone_item .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.3s background;
  font-size: 1.3rem;
}
.iphone_item .card-header:hover {
  background-color: #4a83fb;
  color: white;
}
.iphone_item-info {
  color: #4a83fb;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.iphone_item-title {
  margin: 4rem 0;
  font-size: 5rem;
  color: #071e57;
  font-family: "Gilroy-Medium";
  font-weight: 600;
}
.iphone_item-desc {
  margin-bottom: 5rem;
  font-size: 1.4rem;
  color: #748494;
}

.purchase {
  margin-top: 10rem;
  text-align: center;
  background: url(../img/background3.png);
  background-position: center;
  padding: 5rem 0;
}
.purchase_switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 25%;
  font-size: 1.3rem;
  margin: 0 auto;
}
.purchase_switch .switch {
  -webkit-appearance: none;
  appearance: none;
  background-color: gray;
  width: 60px;
  height: 30px;
  border: 1px solid #bbb;
  border-radius: 25px;
  outline: none;
  position: relative;
  cursor: pointer;
  transition: all 200ms;
}
.purchase_switch .switch:checked {
  background-color: #4a83fb;
}
.purchase_switch .switch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: mintcream;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: all 200ms;
}
.purchase_switch .switch:checked::before {
  left: 30px;
}
.purchase_save {
  padding: 2rem;
  font-size: 1.2rem;
}
.purchase_product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10rem;
}
.purchase_product-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 5rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
}
.purchase_product-box button {
  margin-top: 3rem;
}
.purchase_product-title {
  color: #2ed47d;
  font-size: 1.6rem;
  font-weight: 600;
}
.purchase_product-desc {
  padding: 3rem 0;
  font-size: 1.3rem;
}
.purchase_product-price {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 5rem;
}
.purchase_product-price sup {
  color: #748494;
  font-size: 2rem;
  margin-right: 1.3rem;
}
.purchase_product-price span {
  font-size: 1.4rem;
  color: #748494;
  margin-left: 1.3rem;
}
.purchase_feature-item {
  padding-bottom: 2.5rem;
  color: #748494;
  font-weight: 500;
  font-size: 1.2rem;
}
.purchase .ative {
  color: #071e57;
  font-weight: bold;
}
.purchase_footer {
  padding-top: 7rem;
  font-size: 1.3rem;
  color: #748494;
}
.purchase_footer a {
  color: #4a83fb;
  font-weight: 600;
  line-height: 4rem;
}

.review {
  position: relative;
}
.review_main {
  padding: 7rem 0;
}
.review_title {
  text-align: center;
  color: #071e57;
  font-size: 3.3rem;
  margin-bottom: 3rem;
}
.review_user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 9rem;
}
.review_user-item {
  background: #fff;
  padding: 3rem;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: calc(100% / 3 - 4rem);
}
.review_user-itembr {
  margin-top: 1rem;
}
.review_item-content {
  color: #748494;
  font-size: 1.3rem;
  line-height: 2.5rem;
}
.review_item-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 2rem;
}
.review_item-user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.review_right {
  flex-grow: 1;
  padding-left: 3rem;
}
.review_right-name {
  color: #4a83fb;
  font-size: 1.4rem;
  font-weight: bold;
}
.review_right-positon {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #748494;
  padding: 0.7rem 0 1rem;
}
.review_right-star {
  color: #edb95f;
}
.review_dot {
  text-align: center;
  padding: 4rem;
  font-size: 1.7rem;
}
.review_dot .ative {
  font-size: 1rem;
  color: #4a83fb;
}
.review_partner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10rem;
  padding-bottom: 30rem;
}
.review_banner {
  padding: 10rem;
  background: url(../img/background4.png);
  position: absolute;
  bottom: -10rem;
  border-radius: 5px;
  width: 1170px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3);
}
.review_banner-title {
  font-size: 4rem;
  color: #071e57;
  margin-bottom: 2rem;
}
.review_banner-desc {
  color: #748494;
  line-height: 2.5rem;
  width: 50%;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.footer {
  background: #263238;
  padding-top: 17rem;
  color: #748494;
}
.footer_main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.footer_nav {
  width: calc(100% / 5 - 1rem);
  padding-bottom: 10rem;
}
.footer_nav-title {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2em;
  font-weight: bold;
  font-size: 1.4rem;
}
.footer_nav-item {
  padding: 0.5rem 0;
  font-size: 1.2rem;
}
.footer_nav-item i {
  padding-right: 0.5rem;
}
.footer_nav-item-green {
  color: #2ed47d;
}
.footer_nav-item-white {
  color: #fff;
}
.footer_nav-item-blue {
  color: #3fa7f1;
}
.footer_item-blue {
  color: #fff;
  background: #4a83fb;
  padding: 0.4rem;
  border-radius: 3px;
}
.footer_item-green {
  color: #fff;
  background: #2ed47d;
  padding: 0.4rem;
  border-radius: 3px;
}
.footer_subcriber {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer_subcriber input {
  padding: 1.1rem 0.5rem 1rem 1rem;
  border-radius: 4px;
}
.footer_subcriber input::placeholder {
  font-style: italic;
}
.footer_policy {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer_policy-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer_policy-item {
  margin-right: 1rem;
}
.footer hr {
  color: #748494;
  background-color: #748494;
}

/*# sourceMappingURL=style.css.map */
